<article class="c-message u-bg--white <%= style %>">
  <%= render "icons/#{ icon }", classes: 'o-icon o-icon--inline-flex' %>
  <span><%= message %></span>
  <div class="c-message__information">

  </div>
</article>
