// scss-lint:disable ImportantRule

//  ================================
//  ## Utility --> Layout
//  ================================

.u-display--block {
  display: block;
}

.u-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.u-margin-0 {
  margin: 0 !important;
}

.u-margin--x-auto {
  margin: 0 auto !important;
}

.u-padding-y-25 {
  padding: 25px 0;
}

.u-padding-y-50 {
  padding: 50px 0;
}

.u-padding-y-100 {
  padding: 100px 0;
}

.u-spacer {
  &--xs { @include spacer(map-get($spacers, 'x-small')); }
  &--sm { @include spacer(map-get($spacers, 'small')); }
  &--md { @include spacer(map-get($spacers, 'medium')); }
  &--lg { @include spacer(map-get($spacers, 'large')); }
  &--xl { @include spacer(map-get($spacers, 'x-large')); }
 }
