<section class="u-bg--gray u-padding-y-50">
  <div class="container">
    <h1 class="o-text--title u-color--night">Buttons</h1>
    <div class="u-clearfix">
      <button class="o-btn c-btn c-btn--left v-lightgray c-btn--night u-spacer--sm-r"> Night </button>
      <button class="o-btn c-btn c-btn--left v-lightgray c-btn--disabled u-spacer--sm-r"> Disabled </button>
      <button class="o-btn c-btn c-btn--left v-lightgray c-btn--action u-spacer--sm-r"> Action </button>
      <button class="o-btn c-btn c-btn--left v-lightgray c-btn--success u-spacer--sm-r"> Success </button>
      <button class="o-btn c-btn c-btn--left v-lightgray c-btn--warning u-spacer--sm-r"> Warning </button>
      <button class="o-btn c-btn c-btn--left v-lightgray c-btn--error u-spacer--sm-r"> Error </button>
    </div>

    <div class="u-clearfix">
      <button class="o-btn c-btn c-btn--left c-btn--night u-spacer--sm-r"> Night </button>
      <button class="o-btn c-btn c-btn--left c-btn--disabled u-spacer--sm-r"> Disabled </button>
      <button class="o-btn c-btn c-btn--left c-btn--action u-spacer--sm-r"> Action </button>
      <button class="o-btn c-btn c-btn--left c-btn--success u-spacer--sm-r"> Success </button>
      <button class="o-btn c-btn c-btn--left c-btn--warning u-spacer--sm-r"> Warning </button>
      <button class="o-btn c-btn c-btn--left c-btn--error u-spacer--sm-r"> Error </button>
    </div>

    <div class="u-clearfix">
      <button class="o-btn c-btn c-btn--left v-night c-btn--white u-spacer--sm-r"> White </button>
      <button class="o-btn c-btn c-btn--left v-night c-btn--disabled u-spacer--sm-r"> Disabled </button>
      <button class="o-btn c-btn c-btn--left v-night c-btn--action u-spacer--sm-r"> Action </button>
      <button class="o-btn c-btn c-btn--left v-night c-btn--success u-spacer--sm-r"> Success </button>
      <button class="o-btn c-btn c-btn--left v-night c-btn--warning u-spacer--sm-r"> Warning </button>
      <button class="o-btn c-btn c-btn--left v-night c-btn--error u-spacer--sm-r"> Error </button>
    </div>

    <div class="u-clearfix">
      <button class="o-btn c-btn c-btn--left v-night-115 c-btn--white u-spacer--sm-r"> White </button>
      <button class="o-btn c-btn c-btn--left v-night-115 c-btn--disabled u-spacer--sm-r"> Disabled </button>
      <button class="o-btn c-btn c-btn--left v-night-115 c-btn--action u-spacer--sm-r"> Action </button>
      <button class="o-btn c-btn c-btn--left v-night-115 c-btn--success u-spacer--sm-r"> Success </button>
      <button class="o-btn c-btn c-btn--left v-night-115 c-btn--warning u-spacer--sm-r"> Warning </button>
      <button class="o-btn c-btn c-btn--left v-night-115 c-btn--error u-spacer--sm-r"> Error </button>
    </div>

    <div class="u-clearfix">
      <button class="o-btn c-btn c-btn--left v-full c-btn--white u-spacer--sm-r"> White </button>
      <button class="o-btn c-btn c-btn--left v-full c-btn--disabled u-spacer--sm-r"> Disabled </button>
      <button class="o-btn c-btn c-btn--left v-full c-btn--action u-spacer--sm-r"> Action </button>
      <button class="o-btn c-btn c-btn--left v-full c-btn--success u-spacer--sm-r"> Success </button>
      <button class="o-btn c-btn c-btn--left v-full c-btn--warning u-spacer--sm-r"> Warning </button>
      <button class="o-btn c-btn c-btn--left v-full c-btn--error u-spacer--sm-r"> Error </button>
    </div>
  </div>
</section>
