<section class="u-bg--lightgray u-padding-y-50">

  <div class="container">
    <h1 class="o-text--title u-color--night">Buttons</h1>

    <div class="u-padding-y-25 u-clearfix">
      <h2 class="o-text--subtitle u-color--night">Light</h2>

      <button class="o-btn o-btn--left o-btn--night"> Night </button>

      <button class="o-btn o-btn--left o-btn--disabled"> Disabled </button>

      <button class="o-btn o-btn--left o-btn--action"> Action </button>

      <button class="o-btn o-btn--left o-btn--success"> Success </button>

      <button class="o-btn o-btn--left o-btn--warning"> Warning </button>

      <button class="o-btn o-btn--left o-btn--error"> Error </button>
    </div>
  </div>
</section>

<section class="u-bg--shade u-padding-y-50">
  <div class="container">

    <div class="u-padding-y-25 u-clearfix">
      <h2 class="o-text--subtitle u-color--white">Dark</h2>
      <button class="o-btn o-btn--left v-night o-btn--white"> White </button>

      <button class="o-btn o-btn--left v-night o-btn--disabled"> Disabled </button>

      <button class="o-btn o-btn--left v-night o-btn--action"> Action </button>

      <button class="o-btn o-btn--left v-night o-btn--success"> Success </button>

      <button class="o-btn o-btn--left v-night o-btn--warning"> Warning </button>

      <button class="o-btn o-btn--left v-night o-btn--error"> Error </button>
    </div>

  </div>
</section>
