<section class="u-bg--error u-padding-y-50">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 offset-md-2 col-md-4">
        <h1 class="o-text--title u-color--white">Create a person</h1>
        <p class="o-text--body u-color--gray">
          This is body text for that form where we describe why on earth you would give information to anyone on the internet anymore.
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= card(variant: 'error-115') do %>
          <h2 class="o-text--subtitle u-color--white">Create a person</h2>
          <div>
            <div class="o-tag v--error-130">Important</div>
            <div class="o-tag v--error-130">Secure</div>
          </div>
          <%= card(variant: 'white') do %>
            <div class="o-label__wrapper">
              <label for="1" class="o-label u-color--shade">First Name</label>
              <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
            </div>
            <input id="1" class="o-input" />
            <div class="o-label__wrapper">
              <label for="2" class="o-label u-color--shade">Last Name</label>
              <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
            </div>
            <input id="2" class="o-input" />
            <div class="o-label__wrapper">
              <label for="3" class="o-label u-color--shade">Are you married?</label>
              <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
            </div>
            <div class="o-checkbox__wrapper">
              <input type="checkbox" id="3" class="o-checkbox__input"/>
              <div class="o-checkbox__icon-wrapper when-checked">
                <svg class="o-checkbox__icon" viewBox="0 0 50 50">
                  <title>Tick</title>
                  <polygon points="10.1213203 24.0786797 5.87867966 28.3213203 17.3598096 39.8024503 43.9877216 16.2469897 40.0122784 11.7530103 17.6116189 31.5689783"></polygon>
                </svg>
              </div>
              <label for="3" class="o-checkbox__label u-color when-checked">Yes I am married</label>

              <div class="o-checkbox__icon-wrapper when-unchecked">
                <svg class="o-checkbox__icon" viewBox="0 0 50 50">
                  <title>Cross</title>
                  <polygon points="20.4880066 24.8526861 10.9126022 34.4280904 15.1552429 38.6707311 24.7306472 29.0953268 34.3060516 38.6707311 38.5486923 34.4280904 28.9732879 24.8526861 38.5486923 15.2772818 34.3060516 11.0346411 24.7306472 20.6100454 15.1552429 11.0346411 10.9126022 15.2772818 20.4880066 24.8526861"></polygon>
                </svg>
              </div>
              <label for="3" class="o-checkbox__label u-color when-unchecked">No I am not married</label>

            </div>
            <div class="u-clearfix">
              <button class="o-btn c-btn c-btn--right c-btn--success v-full"> Create Person </button>
              <button class="o-btn c-btn c-btn--left c-btn--error v-lightgray"> Cancel </button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</section>


