<section class="u-bg--white u-padding-y-50">

  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <h1 class="o-text--title u-color--night">
          Tags
        </h1>
        <%= card(variant: 'white') do %>
          <div class="o-tag v--primary">Primary</div>
          <div class="o-tag v--secondary">Secondary</div>
          <div class="o-tag v--warning">Secondary</div>
          <div class="o-tag v--error">Secondary</div>
          <div class="o-tag v--night">Secondary</div>
          <div class="o-tag v--shade">Secondary</div>
          <div class="o-tag v--silver">Secondary</div>
          <div class="o-tag v--gray">Secondary</div>
          <div class="o-tag v--lightgray">Secondary</div>
          <div class="o-tag v--white">Secondary</div>
        <% end %>

        <%= card(variant: 'white') do %>
          <div class="o-tag v--border v--primary">Primary</div>
          <div class="o-tag v--border v--secondary">Secondary</div>
          <div class="o-tag v--border v--warning">Warning</div>
          <div class="o-tag v--border v--error">Error</div>
          <div class="o-tag v--border v--night">Night</div>
          <div class="o-tag v--border v--shade">Shade</div>
          <div class="o-tag v--border v--silver">Silver</div>
          <div class="o-tag v--border v--gray">Gray</div>
          <div class="o-tag v--border v--lightgray">Lightgray</div>
          <div class="o-tag v--border v--white">White</div>
        <% end %>
      </div>
    </div>
  </div>
</section>
