<section class="u-bg--lightgray u-padding-y-50">
  <div class="container">
    <h1 class="o-text--heading u-color--night">Typography</h1>

    <h1 class="o-text--heading u-color--shade">This is a Heading</h1>
    <h2 class="o-text--subheading u-color--shade">This is a Subheading</h2>
    <h3 class="o-text--title u-color--shade">This is a Title</h3>
    <h4 class="o-text--subtitle u-color--shade">This is a Subtitle</h4>
    <p class="o-text--body u-color--shade">This is a Body</p>
    <label class="o-text--label u-color--shade">This is a Label</label>

  </div>
</section>
