

//  ================================
//  ## Object --> Icon
//  ================================


.o-icon {
  height: 50px;
  width: 50px;
  fill: currentColor;

  // Dimension variants
  &--inline {
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    margin-left: -2em;
  }

  &--xl {
    height: 75px;
    width: 75px;
  }
}

.u-color--primary {
  .u-fill--variant-70 { fill: color('primary', 70); }
  .u-fill--variant-85 { fill: color('primary', 85); }
  .u-fill--variant-100 { fill: color('primary'); }
  .u-fill--variant-115 { fill: color('primary', 115); }
  .u-fill--variant-130 { fill: color('primary', 130); }
}

.u-color--secondary {
  .u-fill--variant-70 { fill: color('secondary', 70); }
  .u-fill--variant-85 { fill: color('secondary', 85); }
  .u-fill--variant-100 { fill: color('secondary'); }
  .u-fill--variant-115 { fill: color('secondary', 115); }
  .u-fill--variant-130 { fill: color('secondary', 130); }
}

.u-color--error {
  .u-fill--variant-70 { fill: color('error', 70); }
  .u-fill--variant-85 { fill: color('error', 85); }
  .u-fill--variant-100 { fill: color('error'); }
  .u-fill--variant-115 { fill: color('error', 115); }
  .u-fill--variant-130 { fill: color('error', 130); }
}

.u-color--warning {
  .u-fill--variant-70 { fill: color('warning', 70); }
  .u-fill--variant-85 { fill: color('warning', 85); }
  .u-fill--variant-100 { fill: color('warning'); }
  .u-fill--variant-115 { fill: color('warning', 115); }
  .u-fill--variant-130 { fill: color('warning', 130); }
}

.u-color--success {
  .u-fill--variant-70 { fill: color('success', 70); }
  .u-fill--variant-85 { fill: color('success', 85); }
  .u-fill--variant-100 { fill: color('success'); }
  .u-fill--variant-115 { fill: color('success', 115); }
  .u-fill--variant-130 { fill: color('success', 130); }
}

.u-color--light-greyscale {
  .u-fill--variant-70 { fill: color('white'); }
  .u-fill--variant-85 { fill: color('lightgray'); }
  .u-fill--variant-100 { fill: color('gray'); }
  .u-fill--variant-115 { fill: color('silver'); }
  .u-fill--variant-130 { fill: color('shade'); }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.o-loader {
  transform-origin: center;
  animation: loader linear .5s infinite;
}
