


//  ================================
//  ## Object --> Input
//  ================================


.o-input {
  border-radius: $br;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 15px;
  border: 0px;
  background: color('lightgray');
  border-bottom: 4px solid color('gray');
  color: color('night');
  width: 100%;
  height: 50px;
  line-height: 20px;

  &.v-shade {
    background: color('shade');
    border-bottom: 4px solid color('silver');
    color: color('white');
  }
}
