

//  ================================
//  ## Object --> Type
//  ================================

html { font-size: 1em; }

body {
  font-family: $font-primary;
  line-height: 1.45;
}

h1, h2, h3, h4 {
  margin: 0.2em 0 0.8em;
  line-height: 1.2;
}

p { margin-bottom: 1.3em; }

.o-text,
%o-text {
  @include text-generator($text-hieracy);

  font-weight: 700;
  font-family: $font-primary;
}

