<section class="u-bg--secondary u-padding-y-50">
  <div class="container">
    <h1 class="o-text o-text--heading u-color--night">About</h1>

    <%= card(variant: 'secondary-115') do %>
      <h2 class="o-text o-text--title u-color--night u-margin-0">Something about something</h2>
    <% end %>
  </div>
</section>
