<section class="u-bg--warning u-padding-y-50">
  <div class="container">
    <h1 class="o-text o-text--heading u-color--night">Contact</h1>

    <%= card(variant: 'warning-115') do %>
      <h2 class="o-text o-text--title u-color--night u-margin-0">Contacting something or another</h2>
    <% end %>
  </div>
</section>
