


//  ================================
//  ## Object --> Checkbox
//  ================================

.o-checkbox__wrapper {
  position: relative;
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-radius: $br;
}

.o-checkbox__input {
  @extend %hover--pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 50px;
  width: 100%;
  z-index: 2;

  & ~ .when-unchecked { display: flex; }
  & ~ .when-checked { display: none; }
  &:checked {
    & ~ .when-unchecked { display: none; }
    & ~ .when-checked { display: flex; }
  }
}

.o-checkbox__icon-wrapper {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 12px;

  color: color('silver');
  background: color('lightgray');
  border-bottom: 4px solid color('gray');

  .o-checkbox__input:checked ~ & {
    color: color('white');
    background: color('secondary');
    border-bottom: 4px solid color('secondary', 115);
  }
}

.o-checkbox__icon {
  height: 26px;
  width: 26px;
  fill: currentColor;
}

.o-checkbox__label {
  @extend %o-text--label;

  display: flex;
  height: 50px;
  line-height: 50px;
  flex-grow: 2;
  color: color('silver');
  background: color('lightgray');
  border-bottom: 4px solid color('gray');

  .o-checkbox__input:checked ~ & {
    color: color('white');
    background: color('secondary');
    border-bottom: 4px solid color('secondary', 115);
  }
}
