

//  ================================
//  ## Config --> Project Base
//  ================================

$font-primary: "sofia-pro-soft", sans-serif;
$br: 3px;

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px
);

$text-hieracy: (
  'heading':    ('lg': 2.074em, 'sm': 2.074em),
  'subheading': ('lg': 1.728em, 'sm': 1.728em),
  'title':      ('lg': 1.44em,  'sm': 1.44em),
  'subtitle':   ('lg': 1.2em,   'sm': 1.2em),
  'body':       ('lg': 1em,     'sm': 1em),
  'label':      ('lg': 0.833em, 'sm': 0.833em)
);

$spacers: (
  'x-small': 2px,
  'small': 5px,
  'medium': 10px,
  'large': 15px,
  'x-large': 20px,
);
