<svg class="<%= classes %>" viewBox="0 0 50 50">
  <title>loader</title>
  <path style="opacity: 0.5;" d="M25,43 C15.0588745,43 7,34.9411255 7,25 C7,15.0588745 15.0588745,7 25,7 C34.9411255,7 43,15.0588745 43,25 C43,34.9411255 34.9411255,43 25,43 Z M25,38 C32.1797017,38 38,32.1797017 38,25 C38,17.8202983 32.1797017,12 25,12 C17.8202983,12 12,17.8202983 12,25 C12,32.1797017 17.8202983,38 25,38 Z"></path>
  <path d="M25,43 C15.0588745,43 7,34.9411255 7,25 L12,25 C12,32.1797017 17.8202983,38 25,38 L25,43 L25,43 Z"></path>
</svg>
