<svg class="<%= classes %>" viewBox="0 0 50 50">
  <title>plus</title>

  <path d="M28.3333333,21.6666667 L28.3333333,10 L21.6666667,10 L21.6666667,21.6666667 L10,21.6666667 L10,28.3333333 L21.6666667,28.3333333 L21.6666667,40 L28.3333333,40 L28.3333333,28.3333333 L40,28.3333333 L40,21.6666667 L28.3333333,21.6666667 Z"></path>
</svg>
