<svg class="<%= classes %>" viewBox="0 0 50 50">
  <title>select</title>
  <path d="M25.1923882,34.3345238 L25.2426407,34.3847763 L39.3847763,20.2426407 L35.1421356,16 L25.1923882,25.9497475 L15.2426407,16 L11,20.2426407 L25.1421356,34.3847763 L25.1923882,34.3345238 Z"></path>
</svg>
