<svg class="<%= classes %>" viewBox="0 0 50 50">
  <title>Tick</title>
  <polygon points="10.1213203 24.0786797 5.87867966 28.3213203 17.3598096 39.8024503 43.9877216 16.2469897 40.0122784 11.7530103 17.6116189 31.5689783"></polygon>
</svg>
